body {
  max-height: 100vh;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.app {
  height: 100vh;
  max-height: 100vh;
  display: flex;
  flex-direction: column;

  > header {
    height: 100px;
  }

  > main {
    overflow-y: auto;
    flex: 1;
  }
}


::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
